pipeline/airnow_dailydata.json
{
	"name": "airnow_dailydata",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Current date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 3
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 4
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 5
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 6
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 7
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 8
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 8
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 9
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 9
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 10
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 10
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 11
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 11
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 12
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 12
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 13
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 13
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "airnow_dailydata_input",
						"type": "DatasetReference",
						"parameters": {
							"year": {
								"value": "@substring(variables('today'),0,4)",
								"type": "Expression"
							},
							"date": {
								"value": "@variables('today')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "airnow_dailydata_raw",
						"type": "DatasetReference",
						"parameters": {
							"year": "@substring(variables('today'),0,4)",
							"date": "@variables('today')"
						}
					}
				]
			},
			{
				"name": "Current date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "today",
					"value": {
						"value": "@formatDateTime(convertFromUtc(utcNow(), 'Pacific Standard Time'),'yyyyMMdd')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"daystoget": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"today": {
				"type": "String"
			}
		},
		"annotations": []
	}
}