pipeline/airnow_dailydata_backfill.json
{
	"name": "airnow_dailydata",
	"properties": {
		"activities": [
			{
				"name": "Copy raw DAT file to airnowraw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Current date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 3
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 4
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 5
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 6
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 6
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 7
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 7
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 8
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 8
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 9
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 9
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 10
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 10
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 11
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 11
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 12
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 12
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 13
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 13
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "airnow_dailydata_input",
						"type": "DatasetReference",
						"parameters": {
							"year": {
								"value": "@substring(formatDateTime(variables('datestart'),'yyyyMMdd'),0,4)",
								"type": "Expression"
							},
							"date": {
								"value": "@formatDateTime(variables('datestart'),'yyyyMMdd')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "airnow_dailydata_raw",
						"type": "DatasetReference",
						"parameters": {
							"year": "@substring(formatDateTime(variables('datestart'),'yyyyMMdd'),0,4)",
							"date": "@formatDateTime(variables('datestart'),'yyyyMMdd')"
						}
					}
				]
			},
			{
				"name": "Current date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "datestart",
					"value": {
						"value": "@convertFromUtc(utcNow(), 'Mountain Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "daterange",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Current date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0, pipeline().parameters.daystoget)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append date",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "daterange",
								"value": {
									"value": "@addDays(\n    variables('datestart'), \n    mul(\n        item(),\n        if(\n            equals(pipeline().parameters.timedirection, '-'),\n            -1,\n            1\n        )\n    )\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "For each date",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "daterange",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('daterange')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy raw DAT file to airnowraw_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 1
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 2
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 2
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 3
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 3
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 4
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 4
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 5
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 5
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 6
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 6
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 7
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 7
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 8
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 8
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 9
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 9
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 10
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 10
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 11
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 11
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 12
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 12
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 13
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 13
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "airnow_dailydata_input",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@substring(formatDateTime(item(),'yyyyMMdd'),0,4)",
											"type": "Expression"
										},
										"date": {
											"value": "@formatDateTime(item(),'yyyyMMdd')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "airnow_dailydata_raw",
									"type": "DatasetReference",
									"parameters": {
										"year": "@substring(formatDateTime(item(),'yyyyMMdd'),0,4)",
										"date": "@formatDateTime(item(),'yyyyMMdd')"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"daystoget": {
				"type": "int",
				"defaultValue": 7
			},
			"timedirection": {
				"type": "string",
				"defaultValue": "-"
			}
		},
		"variables": {
			"datestart": {
				"type": "String"
			},
			"daterange": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"annotations": []
	}
}