utahaq/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "utahaq"
		},
		"utahaq_blob_output_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'utahaq_blob_output'"
		},
		"airnow_dailydata_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://s3-us-west-1.amazonaws.com//files.airnowtech.org/airnow/"
		},
		"aqs_test_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://aqs.epa.gov/data/api/dailyData/byState?email=test@aqs.api&key=test&param=45201&bdate=19950515&edate=19950515&state=37"
		},
		"epa_aqs_dailydata_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://aqs.epa.gov/data/api/dailyData/"
		},
		"airnow_daily_refresh_properties_airnow_dailydata_parameters_daystoget": {
			"type": "int",
			"defaultValue": 3
		},
		"airnow_daily_refresh_properties_airnow_dailydata_parameters_timedirection": {
			"type": "string",
			"defaultValue": "-"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/airnow_dailydata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Current date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "datestart",
							"value": {
								"value": "@convertFromUtc(utcNow(), 'Mountain Standard Time')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "daterange",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Current date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(0, pipeline().parameters.daystoget)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Append date",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "daterange",
										"value": {
											"value": "@addDays(\n    variables('datestart'), \n    mul(\n        item(),\n        if(\n            equals(pipeline().parameters.timedirection, '-'),\n            -1,\n            1\n        )\n    )\n)",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "For each date",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "daterange",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('daterange')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy raw DAT file to airnowraw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"type": "String",
														"ordinal": 1
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 1
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 2
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 2
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 3
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 3
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 4
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 4
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 5
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 5
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 6
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 6
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 7
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 7
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 8
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 8
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 9
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 9
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 10
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 10
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 11
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 11
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 12
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 12
													}
												},
												{
													"source": {
														"type": "String",
														"ordinal": 13
													},
													"sink": {
														"type": "String",
														"physicalType": "String",
														"ordinal": 13
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "airnow_dailydata_input",
											"type": "DatasetReference",
											"parameters": {
												"year": {
													"value": "@substring(formatDateTime(item(),'yyyyMMdd'),0,4)",
													"type": "Expression"
												},
												"date": {
													"value": "@formatDateTime(item(),'yyyyMMdd')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "airnow_dailydata_raw",
											"type": "DatasetReference",
											"parameters": {
												"year": "@substring(formatDateTime(item(),'yyyyMMdd'),0,4)",
												"date": "@formatDateTime(item(),'yyyyMMdd')"
											}
										}
									]
								},
								{
									"name": "Transform DAT file and copy to airnowclean",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Copy raw DAT file to airnowraw",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "airnowtocsv",
											"type": "DataFlowReference",
											"parameters": {
												"date": {
													"value": "'@{formatDateTime(item(),'yyyyMMdd')}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"AirNowRaw": {
													"year": "@substring(formatDateTime(item(),'yyyyMMdd'),0,4)",
													"date": "@formatDateTime(item(),'yyyyMMdd')"
												},
												"AirNowClean": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"daystoget": {
						"type": "int",
						"defaultValue": 7
					},
					"timedirection": {
						"type": "string",
						"defaultValue": "-"
					}
				},
				"variables": {
					"datestart": {
						"type": "String"
					},
					"daterange": {
						"type": "Array",
						"defaultValue": []
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airnow_dailydata_input')]",
				"[concat(variables('factoryId'), '/datasets/airnow_dailydata_raw')]",
				"[concat(variables('factoryId'), '/dataflows/airnowtocsv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/aqs_dailydata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pollutants",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "pollutants",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "for_each_pollutant",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "pollutants",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('pollutants').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy raw JSON to aqsraw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "aqs_dailydata_input",
											"type": "DatasetReference",
											"parameters": {
												"pollutants": "@item().pollutant_id",
												"datestart": {
													"value": "@variables('datestart')",
													"type": "Expression"
												},
												"dateend": {
													"value": "@variables('dateend')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "aqs_dailydata_raw",
											"type": "DatasetReference",
											"parameters": {
												"pollutants": "@item().pollutant_id",
												"datestart": {
													"value": "@variables('datestart')",
													"type": "Expression"
												},
												"dateend": {
													"value": "@variables('dateend')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Transform JSON to CSV and copy to aqsclean",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Copy raw JSON to aqsraw",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "1.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "aqsjsontocsv",
											"type": "DataFlowReference",
											"parameters": {
												"year": {
													"value": "'@{substring(string(variables('datestart')),0,4)}'",
													"type": "Expression"
												},
												"pollutant": {
													"value": "'@{item().pollutant_id}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"aqsjson": {
													"pollutants": "@item().pollutant_id",
													"datestart": {
														"value": "@variables('datestart')",
														"type": "Expression"
													},
													"dateend": {
														"value": "@variables('dateend')",
														"type": "Expression"
													}
												},
												"sinktoaqsclean": {}
											}
										},
										"staging": {},
										"integrationRuntime": {
											"referenceName": "HigherTTL",
											"type": "IntegrationRuntimeReference"
										},
										"traceLevel": "None",
										"cacheSinks": {
											"firstRowOnly": true
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"datestart": {
						"type": "String",
						"defaultValue": "19990101"
					},
					"dateend": {
						"type": "String",
						"defaultValue": "19991231"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-04-09T17:39:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/pollutants')]",
				"[concat(variables('factoryId'), '/datasets/aqs_dailydata_input')]",
				"[concat(variables('factoryId'), '/datasets/aqs_dailydata_raw')]",
				"[concat(variables('factoryId'), '/dataflows/aqsjsontocsv')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/HigherTTL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/airnow_dailydata_clean')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "utahaq_blob_output",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "airnowclean"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/utahaq_blob_output')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/airnow_dailydata_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "airnow_dailydata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"year": {
						"type": "string"
					},
					"date": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@concat(dataset().year,'/',dataset().date,'/daily_data_v2.dat')",
							"type": "Expression"
						}
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/airnow_dailydata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/airnow_dailydata_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "utahaq_blob_output",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"year": {
						"type": "string"
					},
					"date": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().date,'.dat')",
							"type": "Expression"
						},
						"folderPath": "dailydata",
						"container": "airnowraw"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/utahaq_blob_output')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/aqs_dailydata_clean')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "utahaq_blob_output",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pollutants": {
						"type": "string"
					},
					"datestart": {
						"type": "string"
					},
					"dateend": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().pollutants,'_',dataset().datestart,'_',dataset().dateend,'.csv')",
							"type": "Expression"
						},
						"folderPath": "dailydata",
						"container": "aqsclean"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/utahaq_blob_output')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/aqs_dailydata_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "epa_aqs_dailydata",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pollutants": {
						"type": "string"
					},
					"datestart": {
						"type": "string"
					},
					"dateend": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('https://aqs.epa.gov/data/api/dailyData/byState?email=ckirsch@rideuta.com&key=tealcat22&param=', dataset().pollutants,'&bdate=',dataset().datestart,'&edate=',dataset().dateend,'&state=49')",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/epa_aqs_dailydata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/aqs_dailydata_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "utahaq_blob_output",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pollutants": {
						"type": "string"
					},
					"datestart": {
						"type": "string"
					},
					"dateend": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().pollutants,'_',dataset().datestart,'_',dataset().dateend,'.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "dailydata",
							"type": "Expression"
						},
						"container": "aqsraw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/utahaq_blob_output')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pollutants')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "utahaq_blob_output",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "pollutants.csv",
						"container": "aqsparam"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "pollutant_id",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/utahaq_blob_output')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/airnow_dailydata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('airnow_dailydata_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/aqs_test')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('aqs_test_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/epa_aqs_dailydata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('epa_aqs_dailydata_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/utahaq_blob_output')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('utahaq_blob_output_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/airnow_daily_refresh')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Refresh against AirNow file products to get updated air quality data.",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "airnow_dailydata",
							"type": "PipelineReference"
						},
						"parameters": {
							"daystoget": "[parameters('airnow_daily_refresh_properties_airnow_dailydata_parameters_daystoget')]",
							"timedirection": "[parameters('airnow_daily_refresh_properties_airnow_dailydata_parameters_timedirection')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2022-04-11T04:00:00",
						"timeZone": "Mountain Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/airnow_dailydata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HigherTTL')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/airnowtocsv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airnow_dailydata_raw",
								"type": "DatasetReference"
							},
							"name": "AirNowRaw"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "utahaq_blob_output",
								"type": "LinkedServiceReference"
							},
							"name": "AirNowClean"
						}
					],
					"transformations": [
						{
							"name": "RemoveColumns"
						},
						{
							"name": "FilterForUnitedStates"
						}
					],
					"scriptLines": [
						"parameters{",
						"     date as string",
						"}",
						"source(output(",
						"          date as string,",
						"          site_id_short as string,",
						"          site_name as string,",
						"          parameter as string,",
						"          uom as string,",
						"          pollutant_result as double,",
						"          averaging_period as short,",
						"          agency as string,",
						"          pollutant_aqi as short,",
						"          aqi_category as short,",
						"          latitude as double,",
						"          longitude as double,",
						"          site_id_long as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> AirNowRaw",
						"AirNowRaw select(mapColumn(",
						"          date,",
						"          site_id_long,",
						"          parameter,",
						"          uom,",
						"          pollutant_result,",
						"          pollutant_aqi,",
						"          aqi_category,",
						"          latitude,",
						"          longitude",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> RemoveColumns",
						"RemoveColumns filter(startsWith(site_id_long,'840')) ~> FilterForUnitedStates",
						"FilterForUnitedStates sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delimited',",
						"     container: 'airnowclean',",
						"     folderPath: ($date),",
						"     truncate: true,",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> AirNowClean"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airnow_dailydata_raw')]",
				"[concat(variables('factoryId'), '/linkedServices/utahaq_blob_output')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/aqsjsontocsv')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "aqs_dailydata_raw",
								"type": "DatasetReference"
							},
							"name": "aqsjson"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "utahaq_blob_output",
								"type": "LinkedServiceReference"
							},
							"name": "sinktoaqsclean"
						}
					],
					"transformations": [
						{
							"name": "flattenjson"
						}
					],
					"scriptLines": [
						"parameters{",
						"     year as string,",
						"     pollutant as string",
						"}",
						"source(output(",
						"          Data as (aqi as short, arithmetic_mean as double, cbsa as string, cbsa_code as integer, city as string, county as string, county_code as short, date_local as date, date_of_last_change as date, datum as string, event_type as string, first_max_hour as short, first_max_value as double, latitude as double, local_site_name as string, longitude as double, method as string, method_code as short, observation_count as short, observation_percent as double, parameter as string, parameter_code as integer, poc as short, pollutant_standard as string, sample_duration as string, sample_duration_code as string, site_address as string, site_number as short, state as string, state_code as short, units_of_measure as string, validity_indicator as boolean)[],",
						"          Header as (request_time as string, rows as short, status as string, url as string)[]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine',",
						"     dateFormats: ['yyyy-MM-dd'],",
						"     timestampFormats: ['yyyy-MM-dd\\'T\\'HH:mm:ss'],",
						"     preferredIntegralType: 'integer',",
						"     preferredFractionalType: 'decimal') ~> aqsjson",
						"aqsjson foldDown(unroll(Data),",
						"     mapColumn(",
						"          date = Data.date_local,",
						"          county_id = Data.county_code,",
						"          site_id = Data.site_number,",
						"          parameter_id = Data.parameter_code,",
						"          method_id = Data.method_code,",
						"          observation_count = Data.observation_count,",
						"          pollutant_standard = Data.pollutant_standard,",
						"          pollutant_result = Data.arithmetic_mean,",
						"          pollutant_aqi = Data.aqi,",
						"          latitude = Data.latitude,",
						"          longitude = Data.longitude,",
						"          validity_indicator = Data.validity_indicator",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenjson",
						"flattenjson sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delimited',",
						"     container: 'aqsclean',",
						"     folderPath: (concat($pollutant,'_',$year)),",
						"     truncate: true,",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sinktoaqsclean"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/aqs_dailydata_raw')]",
				"[concat(variables('factoryId'), '/linkedServices/utahaq_blob_output')]"
			]
		}
	]
}